## 1. Import needed libraries

In [22]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from helpers import masked_seqs_stats
from Bio import SeqIO
%matplotlib inline

## 2. Load the vector-masked EST sequences and calculate stats

In [23]:
path_to_seqs = '/home/maycon/Documents/LAB/eusociality/local_data/crossmatch_filtered'

xgroups_data = pd.DataFrame(columns=["seq_id", "taxon", "seq_len", "xgroup_id", "xgroup_len", "dist_from_3", "dist_from_5", "seq_class"])

for seq_file in os.listdir(path_to_seqs):
    if seq_file.endswith('.screen'):
        taxon_name = seq_file.split('.')[0].split('_ests')[0]
        file_path = os.path.join(path_to_seqs, seq_file)
    
        for seq in SeqIO.parse(file_path, 'fasta'):
            current_seqlist = masked_seqs_stats.find_x_regions_and_calculate_stats(seq, taxon_name)

            if len(current_seqlist) > 0:
                for seq_dict in current_seqlist:
                    xgroups_data = xgroups_data.append(seq_dict, ignore_index=True)

In [24]:
xgroups_data.head()

,seq_id,taxon,seq_len,xgroup_id,xgroup_len,dist_from_3,dist_from_5,seq_class
0,DB735471.1,Apis_mellifera,497,0,110,384,3,3
1,DB777386.1,Apis_mellifera,487,0,199,0,288,5
2,DB772776.1,Apis_mellifera,531,0,427,2,102,6
3,DB773215.1,Apis_mellifera,495,0,323,4,168,6
4,DB747490.1,Apis_mellifera,531,0,455,76,0,4